<div class="container">
  <h1 class="text-primary text-center mt-5">The Longest Word</h1>
  <p class="lead text-center"><%= @result[:message] %> Your score: <%= @result[:score] %></p>
  <%= link_to "Start a new game", new_path, class: "btn btn-primary btn-lg" %>
</div>
